body{
    background-color: #abb8c3;
    margin: 0;
}

.glavniMenu{
    background-color: khaki;
    list-style: none;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 20px 0px 30px 20px;
    position: fixed;
    top: 0;
}

.glavniMenu a{
    color: black;
}
.prviRed{
    list-style: none;
    float: left;
    width: 25%;
}
.drugiRed li{
    list-style: none;
    padding-right: 3px;
}

#ri{
    margin-top: 170px; /* Add a top margin to avoid content overlay */
}

.msc1, .msc2, .rs1, .rs2, .bsc1, .bsc2, .bsc3{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 200px));
    grid-gap: 150px;
}

.msc1 div, .msc2 div, .rs1 div, .rs2 div, .bsc1 div, .bsc2 div, .bsc3 div{
    border: 1px solid black;
    padding: 10px 50px;
    height: 250px;
    width: 190px;
} 

h1{
    padding: 20px 0px 20px 20px;
}

.msc1 div h3, .msc2 div h3, .rs1 div h3, .rs2 div h3, .bsc1 div h3, .bsc2 div h3, .bsc3 div h3{
    padding: 65px 10px 25px 10px;
}

i{
    border: 1.5px solid black;
}

.redovni{
    background-color: white;
}
.izborni{
    background-color: powderblue;
}

